.dropdwn {
    cursor: pointer
}

.f-15 {
    font-size: 15px !important
}

.f-17 {
    font-size: 17px !important
}

.f-14 {
    font-size: 14px !important
}

.f-13 {
    font-size: 13px !important
}

.f-12 {
    font-size: 12px !important
}

.f-11 {
    font-size: 11px !important
}

.f-10 {
    font-size: 10px !important
}

.f-16 {
    font-size: 16px !important
}

.f-18 {
    font-size: 18px !important
}

.f-19 {
    font-size: 19px !important
}

.f-20 {
    font-size: 20px !important
}

.f-21 {
    font-size: 21px !important
}

.f-22 {
    font-size: 22px !important
}

.f-23 {
    font-size: 23px !important
}

.f-24 {
    font-size: 24px !important
}

.m-15 {
    margin: 15px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.m-b-4 {
    margin-bottom: 4px !important
}

.m-t-8 {
    margin-top: 8px !important
}

.m-b-5 {
    margin-bottom: 5px !important
}

.m-t-4 {
    margin-top: 4px !important
}

.m-t-5 {
    margin-top: 5px !important
}

.p-l-30 {
    padding-left: 30px !important
}

.p-l-20 {
    padding-left: 20px !important
}

.p-l-10 {
    padding-left: 10px !important
}

.p-l-0 {
    padding-left: 0 !important
}

.p-r-30 {
    padding-right: 30px !important
}

.p-r-20 {
    padding-right: 20px !important
}

.p-r-10 {
    padding-right: 10px !important
}

.p-r-0 {
    padding-right: 0 !important
}

.p-t-30 {
    padding-top: 30px !important
}

.p-t-20 {
    padding-top: 20px !important
}

.p-t-10 {
    padding-top: 10px !important
}

.p-t-0 {
    padding-top: 0 !important
}

.p-b-30 {
    padding-bottom: 30px !important
}

.p-b-20 {
    padding-bottom: 20px !important
}

.p-b-10 {
    padding-bottom: 10px !important
}

.p-b-0 {
    padding-bottom: 0 !important
}

.p-10 {
    padding: 10px !important
}

.p-15 {
    padding: 15px !important
}

.p-20 {
    padding: 20px !important
}

.m-10 {
    margin: 10px !important;
    margin: 10px !important
}

.m-l-30 {
    margin-left: 30px !important
}

.m-l-20 {
    margin-left: 20px !important
}

.m-l-10 {
    margin-left: 10px !important
}

.m-l-0 {
    margin-left: 0 !important
}

.m-r-30 {
    margin-right: 30px !important
}

.m-r-20 {
    margin-right: 20px !important
}

.m-r-10 {
    margin-right: 10px !important
}

.m-r-0 {
    margin-right: 0 !important
}

.m-t-30 {
    margin-top: 30px !important
}

.m-t-20 {
    margin-top: 20px !important
}

.m-t-15 {
    margin-top: 15px !important
}

.m-t-10 {
    margin-top: 10px !important
}

.m-t-0 {
    margin-top: 0 !important
}

.m-b-30 {
    margin-bottom: 30px !important
}

.m-b-20 {
    margin-bottom: 20px !important
}

.m-b-10 {
    margin-bottom: 10px !important
}

.m-b-0 {
    margin-bottom: 0 !important
}

.m-l-40 {
    margin-left: 40px
}

.m-r-40 {
    margin-right: 40px
}

.m-r-50 {
    margin-right: 50px
}

.m-l-50 {
    margin-left: 50px
}

.p-8 {
    padding: 8px
}

.bg-white {
    background: #fff !important
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.bg-orange {
    background: rgb(186, 0, 0) !important
}

.bg-black {
    background: #4d4d4d !important
}

.text-black {
    color: #484848 !important
}

.text-white {
    color: #fff !important
}

.text-green {
    color: #2eb843 !important
}

.m-auto {
    margin: 0 auto
}

.justbet {
    justify-content: space-between;
    -webkit-justify-content: space-between
}

.col-md-6,
.col-xs-6 {
    width: 50%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-2 {
    width: 16.66666667%
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

svg {
    overflow: hidden;
    vertical-align: middle;
    min-width: 17px;
    max-height: 20px
}

a:hover {
    text-decoration: none !important
}

.col-md-2,
.col-xs-2 {
    width: 16.66666667%
}

.faqbottom .accordion {
    border-radius: 10px 10px 0 0;
    padding: 10px 37px 10px 22px
}

.accordion {
    border-radius: 10px;
    margin-bottom: -1px;
    -webkit-box-shadow: 0 0 10px 1px #10426117;
    box-shadow: 0 0 10px 1px #10426117;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    border: #ddd solid 1px;
    background: #fff;
    padding: 10px 29px 10px 10px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: #4d4d4d
}

.faqbottom .accordion:after {
    content: "-";
    color: #777;
    float: right;
    margin-left: 5px;
    font-size: 23px;
    position: absolute;
    right: 17px;
    margin-top: -7px
}

.hit {
    border-radius: 10px !important
}

.accordion.hit:after {
    content: "+";
    color: #777;
    float: right;
    margin-left: 5px;
    font-size: 23px;
    position: absolute;
    right: 17px;
    margin-top: -7px
}

.panel {
    padding: 0;
    background-color: #fff;
    max-height: 0;
    border: 0;
    margin-bottom: 12px;
    overflow: hidden;
    transition: max-height .2s ease-out
}

.faqbottom .pnlp {
    padding: 17px 22px 0
}

.accordion:hover,
.active {
    background-color: #fff
}

.pnlp {
    padding: 10px;
    border-radius: 0 0 10px 10px;
    border: solid 1px #ccc
}

:focus {
    outline: 0 !important
}

.rujoinus {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase
}

.rujoinustag {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0
}

.hmjoinus {
    background: url(../img/ocd_home_car-rental-banner_new.jpg?ve2) no-repeat;
    padding: 42px;
    background-size: 100% 100%;
    cursor: pointer
}

.hmjoinus:hover .rujoinustag {
    color: rgb(186, 0, 0)
}

.imptip {
    width: 100%;
    background: #4d4d4d;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 10px
}

.imptip h2 {
    padding-bottom: 10px;
    padding-left: 0;
    border-bottom: dashed 1px #ccc;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 28px;
    margin-top: 50px
}

.list-disc,
.list-disc li {
    font-size: 14px;
    line-height: 1.9em;
    margin-bottom: 10px
}

.list-disc {
    margin-bottom: 20px;
    margin-left: 25px
}

li {
    list-style: none
}

.list-disc li {
    list-style: disc
}

.doctitle {
    text-align: center;
    background: #eee;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0
}

.d-grid {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    padding: 10px;
    align-items: center
}


.dochead {
    line-height: 28px;
    padding-bottom: 10px;
    padding-left: 0;
    border-bottom: dashed 1px #ccc;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px
}

.scrollslid .lslide {
    padding-bottom: 30px;
    float: left;
    width: 297px;
    /* margin-right: 12px; */
    display: flex;
    display: -webkit-flex;
    align-items: center
}

.sddetail li img {
    width: 15px;
    height: 14px;
    margin-top: -1px;
    margin-left: 1px
}

.latest_img_header .hover-img .hover-title-center-bottom {
    color: #fff !important;
    bottom: 40%;
    left: 33%;
    margin: 0;
    font-size: 14px
}

.hover-img:hover .hover-icon-center-bottom,
.hover-img:hover .hover-icon-center-top,
.hover-img:hover .hover-icon-group-center-bottom,
.hover-img:hover .hover-icon-group-center-top,
.hover-img:hover .hover-title-center-bottom,
.hover-img:hover .hover-title-center-top {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.hover-img:hover .hover-icon,
.hover-img:hover .hover-icon-group,
.hover-img:hover .hover-inner-wrap,
.hover-img:hover .hover-title,
.hover-img:hover [class*=" hover-icon-"],
.hover-img:hover [class*=" hover-title-"],
.hover-img:hover [class^="hover-icon-"],
.hover-img:hover [class^="hover-title-"],
.hover-img:hover>.hover-inner {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.hover-img .hover-icon-center-bottom,
.hover-img .hover-icon-center-top,
.hover-img .hover-icon-group-center-bottom,
.hover-img .hover-icon-group-center-top,
.hover-img .hover-title-center-bottom,
.hover-img .hover-title-center-top {
    margin: 15px 0;
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -o-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%)
}

.hover-img .hover-title-bottom-left,
.hover-img .hover-title-bottom-right,
.hover-img .hover-title-center,
.hover-img .hover-title-center-bottom,
.hover-img .hover-title-center-top,
.hover-img .hover-title-top-left,
.hover-img .hover-title-top-right {
    display: table;
    width: auto
}

.hover-img .hover-title,
.hover-img [class*=" hover-title-"],
.hover-img [class^="hover-title-"] {
    z-index: 2;
    position: absolute;
    background: rgba(186, 0, 0, 0.75);
    padding: 0 7px;
    line-height: 32px;
    opacity: 0;
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}

.hover-img:hover {
    transform: scale(1)
}

.hover-img {
    border-radius: 23px 23px 0 0;
    z-index: 1;
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s
}

.hover-img:hover>img {
    opacity: .7;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.hover-img>img {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}

.scrollslid .item {
    width: 100%
}

.verified_img {
    display: block;
    padding-left: 0;
    width: 100%;
    height: 195px;
    /* padding-bottom: 5px; */
    object-fit: cover;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px
}

.bdslbr {
    z-index: 999;
    margin-top: -43px;
    background: #fff0;
    padding: 0 15px 7px;
    width: 100%;
    height: 38px;
    clear: both
}

.bdslbr img {
    width: auto;
    height: 23px;
    margin-top: 4px
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.cler-both {
    clear: both
}

.hover-img:hover {
    transform: scale(1)
}

.carslid strike {
    font-size: 12px
}

.openc {
    height: 10px;
    width: 10px;
    background-color: #09e010;
    border-radius: 50%;
    display: block;
    margin-right: 10px
}

li.cartip {
    width: max-content !important;
    padding-left: 5px !important;
    padding-right: 5px !important
}

.bkdtaddi {
    /* margin-bottom: 2px; */
    color: #626262;
    font-size: 13px !important;
    line-height: 20px;
    float: none
}

.bukftitems.col-xs-6,
.supmnlogo.col-xs-6 {
    width: auto
}

.kylist li:last-child {
    margin-right: 0
}

.slidbotm .complogo {
    line-height: 23px !important;
    padding-left: 15px !important;
    justify-content: start;
    -webkit-justify-content: start;
    height: auto !important;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center
}

ul {
    padding: 0
}

.slidbotm {
    box-shadow: 0 0 4px #ccc;
    border: 1px solid #cccc;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #4d4d4d;
    min-height: 200px;
    max-height: 265px;
    background: #fff;
    padding: 15px;
    /* border-bottom-left-radius: 20px; border-bottom-right-radius: 20px */
}

.kylist li img {
    width: 15px;
    height: 14px;
    margin-top: -1px;
    margin-left: 4px
}

.car-count {
    display: none
}

.carslid h4 {
    margin-top: 0;
    margin-bottom: .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical
}

.last-section {
    border-radius: 30px;
    text-align: center !important;
    background-image: linear-gradient(rgb(186, 0, 0), #ffbc5d);
    padding-top: 96px
}

.scrollslid {
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden
}

.scrollslid::-webkit-scrollbar {
    width: 10px;
    height: 6px
}

.scrollslid::-webkit-scrollbar-track {
    background: #f1f1f1
}

.scrollslid::-webkit-scrollbar-thumb {
    background: rgb(7, 7, 7);
    border-radius: 10px
}

.scrollslid::-webkit-scrollbar-thumb:hover {
    background: #555
}

.price_font_latest {
    font-size: 17px;
    color: rgb(186, 0, 0);
    font-weight: 600
}

.thumb-title {
    margin: 0;
    line-height: 1.3em
}

.price_month_latest {
    font-size: 14px
}

.carmodalnm {
    font-size: 17px
}

.carslidtitle {
    font-size: 1.5em;
    line-height: 28px;
    padding-bottom: 20px;
    padding-left: 0;
    border-bottom: dashed 1px #ccc;
    margin-bottom: 28px;
    letter-spacing: -.8px;
    color: #4d4d4d
}

.sddetail li {
    height: 27px;
    line-height: 1.5em;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    padding-top: 0;
    padding-left: 8px;
    padding-right: 8px;
    width: 47px;
    align-items: center;
    -webkit-align-items: center;
    font-weight: 400;
    color: #4d4d4d;
    align-items: center;
    border: 1px solid #d3cdcd;
    box-shadow: none;
    border-radius: 30px
}

.kylist {
    padding-bottom: 10px;
    list-style: none;
    padding-left: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    margin-top: 10px
}

.svgis {
    width: 20px;
    height: 17px;
    margin-left: 10px
}

.webonly {
    display: block
}

.mobonly {
    display: none
}

@media (max-width: 992px) {
    .only-web {
        display: none
    }

    .only-mob {
        display: block
    }

    .carlesdel:last-child {
        margin-top: 0 !important
    }
}

.latest_img_header {
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    box-shadow: 1px 0 5px #c7c7c7
}

.homemnslid .cat-next,
.homemnslid .cat-prev {
    top: auto;
    bottom: 21%;
    background: #ccc0 !important;
    justify-content: center;
    border-radius: 30px !important;
    box-shadow: 0 1px 3px #00000029;
    border: solid 1px #ccc !important
}

.last-section a,
.lastslid a,
.lastslid a .last-section {
    justify-content: center;
    display: flex;
    display: -webkit-flex;
    align-content: center
}

.last-section {
    border-radius: 30px;
    text-align: center !important;
    background-image: linear-gradient(rgb(186, 0, 0), rgb(252, 40, 40));
    width: 200px;
    padding: 50px 0;
    display: block;
    display: -webkit-block;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center
}

.last-section a {
    justify-content: center;
    display: flex;
    display: -webkit-flex
}

.last-section .extrabtn {
    cursor: pointer;
    border-radius: 30px !important;
    border: solid 1px #fff;
    background: #fff;
    margin: 5px 0;
    color: rgb(186, 0, 0) !important;
    width: auto;
    padding: 5px 10px;
    line-height: 1.7em;
    height: 33px;
    display: flex;
    font-weight: 600;
    align-items: center
}

.view-all-btn {
    padding: 2px 10px;
    margin-top: 4px;
    border-radius: 30px;
    color: #fff
}

.view-all-btn2 {
    border: none;
    float: right;
    font-size: 12px
}

.view-all-btn2:hover {
    background: rgb(186, 0, 0);
    padding: 0 6px !important
}

.view-all-btn2:hover i {
    color: #fff !important
}

.last-section .extrabtn:hover {
    box-shadow: 2px 2px 12px #aa5d00;
    padding: 4px 10px;
    transform: scale3d(1.1, 1.1, 1.1)
}

.last-section .extrabtn:hover i {
    display: inherit;
    font-size: 21px
}

.jstcenter {
    justify-content: center;
    -webkit-justify-content: center
}

.bttn-normal {
    border: solid 1px rgb(186, 0, 0);
    margin-top: 23px;
    padding: 2px 10px
}

.catslid iframe {
    margin: 10px auto;
    width: 100% !important
}

.carslid {}

.cat-slid-car {
    margin-top: 10px
}

.homemnslid img {
    filter: brightness(70%);
    height: 530px;
    object-fit: cover;
    object-position: center;
    min-height: 530px;
}

.homemnslid .cat-next {
    right: 30px
}

.homemnslid .cat-prev {
    left: 30px
}

@media (max-width: 992px) {
    .latest_img_header {
        border-top-left-radius: 23px;
        border-top-right-radius: 23px
    }

    .lastslid {
        margin-top: 10px
    }
}

.only-web {
    display: block
}

@media only screen and (max-width: 730px) {
    .homemnslid img {
        filter: brightness(70%);
        height: 270px;
        object-fit: cover;
        object-position: center;
        min-height: 270px;
    }

    .more {
        display: none;
    }

    .cantenar.cateslidheight {
        padding-left: 10px;
        padding-right: 10px;
        overflow-x: hidden
    }

    .cantenar {
        padding-left: 15px;
        padding-right: 15px
    }

    .sliderbantext {
        display: none !important
    }

    .findcep .col-md-4 {
        margin-bottom: 20px
    }

    .rujoinus {
        font-size: 18px;
        font-weight: 800
    }

    .rujoinustag {
        font-size: 16px;
        font-weight: 500
    }

    .faq-box {
        max-height: 300px;
        overflow: auto
    }

    .cat-slid-car .cat-stage {
        /* transform: translate3d(0, 0, 0) !important */
    }

    .carlesdel:last-child {
        margin-top: 0 !important
    }

    .carsec {
        margin-bottom: 0
    }

    .catslid video {
        height: 70px !important
    }

    .cat-slid-car .cat-item:nth-child(10),
    .cat-slid-car .cat-item:nth-child(11),
    .cat-slid-car .cat-item:nth-child(12),
    .cat-slid-car .cat-item:nth-child(13),
    .cat-slid-car .cat-item:nth-child(17),
    .cat-slid-car .cat-item:nth-child(7),
    .cat-slid-car .cat-item:nth-child(8),
    .cat-slid-car .cat-item:nth-child(9),
    .cat-slid-car .cat-item:nth-child(6),
    .cat-slid-car .cat-item:nth-child(5),
    .cat-slid-car .cat-item:nth-child(4),
    .cat-slid-car .cat-item:nth-child(3),
    .cat-slid-car .cat-item:nth-child(2),
    .cat-slid-car .cat-item:nth-child(1) {
        /* margin-left: 40px !important; */
    }

    .seemobcar {
        margin-bottom: 50px;
        background: #edeaea;
        color: #000;
        display: block;
    }

    .seemobcar.carvu span {
        display: block
    }

    .seemobcar svg {
        width: 13px;
        height: 13px
    }

    .seemobcar.carvu svg {
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    .cat-slid-car .cat-dots {
        display: none
    }

    .only-mob {
        display: block
    }

    .only-web {
        display: none
    }

    .cat-slid-car .cat-stage {
        /* width: 105% !important */
    }

    .cat-slid-car .lastslid {
        /* display: none */
    }

    .hmmnslid .sliddetail {
        margin: 0 auto !important
    }

    .homslidcap.webonly {
        display: none !important
    }

    .hmmnslid .drpcityslid {
        top: 183px !important;
        margin-left: 20px
    }

    .hmmnslid {
        min-height: 210px !important
    }

    .hmmnslid .cat-slid .cat-item img {
        display: block;
        width: 100%;
        height: 210px;
        object-fit: cover
    }

    .drpcityslid {
        width: auto !important
    }

    .mnslidinfo {
        margin-top: 0 !important;
        text-align: left;
        padding: 0 20px
    }

    .webonly {
        display: none !important
    }

    .mobonly {
        display: flex;
        display: -webkit-flex !important
    }

    .mobile-mnu {
        display: block
    }

    .desktop-mnu {
        display: none
    }

    .catslid {
        padding-right: 0
    }

    .catslid iframe {
        padding-right: 15px;
        margin: 0 auto
    }
}

@media only screen and (min-width: 1200px) {
    .mobile-mnu {
        display: none
    }

    .desktop-mnu {
        display: block
    }

    .mncarimg {
        border-radius: 40px 0 0 40px
    }
}

input[type="datei"] {
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-inline-flex;
    padding-inline-start: 1px;
    cursor: default;
    overflow: hidden;
    padding: 0
}

.m-t-29 {
    margin-top: 29px
}

.m-t-27 {
    margin-top: 27px
}

h1 {
    margin: .67em 0;
    text-transform: capitalize;
    line-height: 1.2em !important
}

.fa.fa-chevron-circle-down svg {
    max-height: 12px;
    height: 12px
}

@media (max-width: 992px) {

    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        width: 100%
    }
}

@media (min-width: 730px) and (max-width: 1250px) {
    .hmmnslid .sliddetail {
        position: absolute;
        z-index: 9;
        width: 100%;
        justify-content: center;
        margin: 0 auto
    }

    .catslid {
        padding-right: 0
    }

    .cat-slid .cat-item img {
        display: block;
        width: 100%
    }

    .drpcityslid {
        margin: 0 auto;
        justify-content: center;
        display: flex
    }
}

@media (min-width: 730px) {

    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        position: relative
    }

    .col-md-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .col-md-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-md-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-md-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .roww {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px
    }
}

@media (min-width: 992px) and (max-width: 1090px) {

    .col-md-3,
    .col-md-9 {
        flex: 0 0 100%;
        max-width: 100%
    }
}

.hmmnslid .sliddetail {
    position: absolute;
    z-index: 9;
    width: 100%;
    justify-content: center;
    margin: 50px auto 0
}

.hmmnslid {
    min-height: 350px
}

.drpcityslid {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    margin-top: 30px
}

.justcent {
    justify-content: center;
    -webkit-justify-content: center;
    display: flex;
    display: -webkit-flex
}

.roww {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.col-xs-4 {
    width: 33.33%
}

@media (min-width: 1088px) and (max-width: 3000px) {
    span.carcatimg.d-flex.align-items-center {
        height: auto;
        display: flex;
        justify-content: center
    }

    .cat-slid .brandimg {
        height: 85px;
        width: 85px !important;
        padding: 10px
    }

    .findselctcity {
        margin-top: 20px
    }
}

@media (min-width: 730px) and (max-width: 1000px) {
    .findcep .col-md-4 {
        max-width: 100%;
        flex: 100%
    }

    .docbox .col-md-5 {
        max-width: 100%;
        flex: 100%
    }
}

@media (max-width: 1025px) {
    .cat-item-mob {
        float: left
    }

    .carsec .cat-slid-car.cat-slid {
        display: flow-root
    }

    .carsec .item img {
        width: 111px !important
    }

    .hmmnslid picture {
        width: 100%
    }

    .carsec .cat-stage,
    .carsec .cat-stage-outer {
        /* min-height: 222px */
    }

    .carsec .brandslid {
        /* min-height: 222px */
    }

    .carsec {
        /* min-height: 222px */
    }

    .carsec .cat-item .item {
        min-height: 112px
    }

    .carsec .cat-item {
        min-height: 112px
    }

    .carcatimg {
        min-height: 67px
    }

    .cat-slid .brnd-title {
        min-height: 14px
    }

    .cat-slid.brandslid .item {
        padding: 0 !important
    }

    .carsec .hidtxt {
        height: 0;
        line-height: 0
    }

    .cat-slid .brnd-title {
        margin: 0 0 10px !important;
        line-height: 1.2em !important
    }

    .carsec .cat-slid .brnd-count {
        font-size: 12px !important;
        height: 6px
    }

    .carsec .cat-item {
        margin-right: 5px !important
    }

    .faqbox .pnlp ul {
        padding-left: 12px
    }

    .home_latest_ajax_1>.cantenar {
        padding: 0 !important
    }

    .slidsearch input {
        background: #fff;
        border-radius: 7px 0 0 7px !important;
        min-width: 228px !important;
        max-width: 228px !important;
        margin-right: 6px !important;
        border: 0 !important;
        font-size: 16px;
        line-height: 0;
        width: 208px;
        min-width: 228px !important;
        max-width: 228px
    }

    .findselctcity {
        padding: 0
    }

    .clearinputbtn {
        opacity: 0;
        padding: 0 5px;
        line-height: 1em;
        position: relative;
        margin-right: -29px;
        margin-top: 7px;
        font-size: 26px;
        right: 41px;
        cursor: pointer;
        color: #70757a;
        height: 28px;
        background: #fff;
        font-weight: 300
    }

    .carslid .last-section {
        margin-right: 15px
    }

    .catbrnd .lastslid .last-section {
        width: auto !important;
        padding: 7px 13px;
        height: 104px
    }

    .catbrnd .last-section .extrabtn {
        padding: 1px 3px;
        height: 22px;
        font-size: 11px;
        width: 100%
    }

    .catbrnd .lastslid {
        min-height: 130px;
        display: flex;
        align-items: center
    }

    .scrollslid .lslide {
        width: 298px
    }

    .brandslid .cat-stage {
        overflow: auto hidden !important
    }

    .mobbannerimg {
        min-height: 255px;
        max-height: 250px;
        object-fit: cover;
        filter: brightness(50%)
    }

    .faqbottom .pnlp {
        padding: 11px 22px 0
    }

    .bannervideo {
        padding-right: 15px
    }

    span.carcatimg.d-flex.align-items-center {
        height: auto;
        display: flex;
        justify-content: center
    }

    .cat-slid-car .item {
        width: 100% !important
    }

    .slidsearch {
        background: #0000 !important;
        padding: 0 !important
    }

    .slidsearch button {
        border-radius: 0 7px 7px 0 !important;
        margin-left: 0
    }

    .mnslidinfo-subtitle {
        font-size: 16px !important;
        line-height: 1.4em
    }

    .findselctcity {
        margin-top: 25px
    }

    .carslid {
        width: 100%;
        padding-right: 0;
        margin: 0 auto 30px
    }

    .catbrnd.brandslid .item {
        width: 110%;
        padding: 5px 0 !important
    }

    .catbrnd .brandimg {
        height: 72px !important;
        width: 72px !important;
        padding: 10px
    }

    .hmjoinus {
        background-size: auto 100%
    }

    .wv2 {
        width: calc(100% + 1.3px);
        height: 150px
    }

    .carslidtitle {
        margin-right: 15px;
        padding-left: 0
    }

    .findselctcity {
        display: block !important
    }

    .catselection {
        display: inline !important
    }

    .citydrp {
        display: inline-block !important
    }

    .crrntalsr {
        width: 93% !important;
        padding-right: 0
    }

    .carlesdel img {
        margin: 0 auto;
        display: flex;
        width: 100%;
        border-radius: 10px;
        height: 212px;
        object-fit: cover
    }

    .cat-slid .brnd-count,
    .cat-slid .brnd-title {
        font-size: 12px !important
    }
}

.brnd-count {
    display: block;
    font-size: 14px;
    color: #565656
}

.cat-slid .brnd-title {
    text-transform: uppercase;
    font-weight: 700;
    color: #4d4d4d;
    font-size: 16px;
    margin: 4px 0;
    display: block;
    line-height: 1.2em
}

.cat-slid-car .brnd-title {
    margin-top: 0
}

.cat-slid-car .item:hover {
    background: rgb(186, 0, 0);
    border-radius: 10px !important
}

.cat-slid-car .item:hover a span {
    color:#c99e00 !important
}

.cat-slid-car .carcatimg img {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}

.carsec .item:hover img,
.cat-slid-car .carcatimg img:hover {
    transform: scale(1.1);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}

.brandimg {
    margin: 0 auto 7px;
    height: 71px;
    width: 71px !important;
    background-color: #f7f7f7;
    border-radius: 50%;
    /* border: 1px solid rgb(186, 0, 0); */
    display: flex;
    position: relative;
    box-shadow: 0 0 6px #fff
}

.cat-slid.brandslid .item {
    padding: 5px 0;
    border-radius: 50%;
    text-align: center !important;
    line-height: 1em
}

.cat-slid,
.cat-slid .cat-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.cat-slid {
    display: none;
    width: 100%;
    z-index: 1
}

.cat-slid .cat-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
}

.cat-slid .cat-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.cat-slid .cat-stage-outer {
    position: relative;
    /* overflow: hidden; */
    height: 100%
}

.cat-slid .cat-item {
    min-height: 0;
    float: left;
    -webkit-touch-callout: none
}

.cat-slid .cat-item img {
    display: block;
    width: 100%
}

.cat-slid .cat-dots.disabled,
.cat-slid .cat-nav.disabled {
    display: none
}

.cat-slid.cat-loaded,
.no-js .cat-slid {
    display: block
}

.cat-slid .cat-dot,
.cat-slid .cat-nav .cat-next,
.cat-slid .cat-nav .cat-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cat-slid .cat-nav button.cat-next,
.cat-slid .cat-nav button.cat-prev,
.cat-slid button.cat-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit
}

.cat-prev {
    top: 25%;
    left: -60px;
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex !important;
    align-items: center;
    background: #ccc !important;
    justify-content: center;
    border-radius: 30px !important;
    box-shadow: 0 1px 3px #00000029
}

.cat-next {
    top: 25%;
    right: -60px;
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex !important;
    align-items: center;
    background: #ccc !important;
    justify-content: center;
    border-radius: 30px !important;
    box-shadow: 0 1px 3px #00000029
}

.cat-next span,
.cat-prev span {
    color: #fff;
    font-size: 27px;
    height: 45px
}

.cat-slid.cat-loading {
    opacity: 0;
    display: block
}

.cat-slid.cat-hidden {
    opacity: 0
}

.cat-slid.cat-refresh .cat-item {
    visibility: hidden
}

.cat-slid.cat-drag .cat-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cat-slid.cat-grab {
    cursor: move;
    cursor: grabbing
}

.cat-slid.cat-rtl {
    direction: rtl
}

.cat-slid.cat-rtl .cat-item {
    float: right
}

.cat-slid .animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.cat-slid .cat-animated-in {
    z-index: 0
}

.cat-slid .cat-animated-out {
    z-index: 1
}

.cat-slid .fadeOut {
    animation-name: fadeOut
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.cat-height {
    transition: height .5s ease-in-out
}

.cat-slid .cat-item .cat-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.cat-slid .cat-item .cat-lazy:not([src]),
.cat-slid .cat-item .cat-lazy[src^=""] {
    max-height: 0
}

.cat-slid .cat-item img.cat-lazy {
    transform-style: preserve-3d
}

.cat-slid .cat-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(cat.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    transition: transform .1s ease
}

.cat-slid .cat-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}

.cat-slid .cat-video-playing .cat-video-play-icon,
.cat-slid .cat-video-playing .cat-video-tn {
    display: none
}

.cat-slid .cat-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.cat-slid .cat-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

.cat-theme .cat-dots,
.cat-theme .cat-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.cat-theme .cat-nav {
    margin-top: 10px
}

.cat-theme .cat-nav [class*="cat-"] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px
}

.cat-theme .cat-nav [class*="cat-"]:hover {
    background: #869791;
    color: #fff;
    text-decoration: none
}

.cat-theme .cat-nav .disabled {
    opacity: 0;
    cursor: default
}

.cat-theme .cat-nav.disabled+.cat-dots {
    margin-top: 13px;
    margin-bottom: 30px
}

.cat-theme .cat-dots .cat-dot {
    display: inline-block;
    zoom: 1
}

.cat-theme .cat-dots .cat-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px
}

.cat-theme .cat-dots .cat-dot.active span {
    background: #869791
}

.carlesdel img {
    margin: 0 auto;
    display: flex;
    width: 100%;
    border-radius: 10px
}

.carlesdel h4 {
    font-size: 18px;
    font-weight: 700;
    color: #fff
}

.carlesdel p {
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
    color: #fff;
    width: 100%;
    padding: 0 10px
}

.crrntalsr {
    text-align: center;
    z-index: 9;
    position: absolute;
    width: 100%;
    top: 32%
}

.carlesdel:hover p {
    color: rgb(186, 0, 0);
    cursor: pointer
}

.orange-bg {
    background-image: linear-gradient(rgb(186, 0, 0), rgb(252, 40, 40)) !important;
}

.titlefind {
    color: #fff;
    font-size: 15px;
    margin-top: 20px
}

.titlefind span {
    margin-right: 10px;
    justify-content: center;
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 30px;
    background: #fff;
    align-items: center
}

.findcep .bttn {
    background: #fff
}

.findcep a {
    color: #fff !important;
    text-decoration: underline
}

.findcep .parabox .bttn {
    align-items: center;
    width: max-content;
    min-width: 260px;
    justify-content: center
}

.lastaro {
    float: right
}

.findcep .parabox svg {
    width: 15px;
    height: 15px;
    margin: 0 0 0 10px
}

.wevbg {
    max-width: 100% !important;
    max-height: 100% !important
}

.catselection {
    width: max-content
}

.findselctcity {
    align-items: center
}

.findselctcity .select {
    width: auto
}

.findselctcity .select .select-styled {
    letter-spacing: .5px;
    border-bottom: 1px solid;
    padding-bottom: 7px;
    margin-left: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: rgb(186, 0, 0);
    padding-left: 5px;
    padding-right: 30px;
    position: relative;
    display: inline-block
}

.cityselect:before {
    content: "";
    width: 0;
    height: 16px;
    border: 8px solid transparent;
    border-color: #fff transparent transparent;
    position: absolute;
    margin-top: 10px;
    right: 5px;
    z-index: 9
}

.cityselect:after {
    content: "";
    width: 0;
    height: 16px;
    border: 8px solid transparent;
    border-color: rgb(186, 0, 0) transparent transparent;
    position: absolute;
    margin-top: 12px;
    right: 5px
}

.findselctcity .select-options {
    width: 100%
}

.cityselect {
    color: rgb(186, 0, 0);
    font-size: 19px;
    border: none;
    cursor: pointer;
    background: #fff;
    padding: 0
}

.citydrp {
    position: relative;
    display: inline-block;
    width: 125px;
    border-bottom: solid 1px rgb(186, 0, 0);
    padding-bottom: 0;
    margin-left: 5px
}

.citydrp-content {
    display: none;
    position: absolute;
    height: 300px;
    background-color: #fff;
    min-width: 250px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 #000;
    right: -80px;
    z-index: 9;
    margin-top: 10px
}

.citydrp-content a {
    border-bottom: 1px solid #d4d4d4;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 30px;
    text-decoration: none;
    display: block
}

.cantrynm {
    background-color: #efefef;
    color: #9b9595 !important;
    font-weight: 700 !important;
    cursor: text
}

.cantrynm:hover {
    color: #fff !important
}

.citydrp-content a:hover {
    background: rgb(186, 0, 0);
    color: #fff !important
}

.show {
    display: block
}

.hmmnslid {
    width: 100%
}

.mnslidinfo-title {
    text-transform: uppercase;
    margin-top: 30px
}

.mnslidinfo-subtitle {
    font-weight: 300
}

.homslidcap {
    position: absolute;
    z-index: 99;
    width: 100%;
    text-align: center;
    color: #fff;
    bottom: 20px
}

.homslidcap .bttn {
    background: #0000;
    align-items: center
}

.homslidcap-title {
    line-height: 1em;
    font-size: 120px;
    display: table;
    margin: 10px auto;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-transform: uppercase
}

.homslidcap-price small {
    opacity: .8
}

.homslidcap-price {
    font-weight: 300
}

.drpcityslid .citydrp {
    width: 140px;
    border-bottom: solid 1px #fff;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-left: 0;
    border-radius: 5px;
    background: #fff;
    margin-right: 10px
}

.drpcityslid .cityselect {
    color: rgb(186, 0, 0);
    font-size: 15px;
    border: none;
    cursor: pointer;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 5px 14px;
    margin: 0 auto;
    line-height: 2em
}

.drpcityslid .cityselect svg {
    margin-right: 10px
}

.drpcityslid .cityselect:before {
    opacity: 0
}

.drpcityslid .cityselect:after {
    opacity: 0
}

.drpcityslid .citydrp-content {
    text-align: left;
    right: auto
}

.slidsearch {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    /* background: #000000a3; */
    border-radius: 5px
}

.slidsearch input {
    padding: 10px 10px 10px 40px;
    border-radius: 7px;
    margin-right: 12px;
    min-width: 450px;
    border: 0;
    font-size: 16px;
    line-height: 1.2em
}

.searchotoicon {
    left: 12px;
    margin-top: 0;
    width: 0;
    position: relative;
    display: flex;
    align-items: center;
    height: 45px
}

.cutpr {
    height: 22px;
    font-size: .9rem !important
}

.brandimg {
    justify-content: center
}

.adimg {
    width: 100%
}

@media (min-width: 1025px) and (max-width: 3000px) {
    .catbrnd {}
}

.modal {
    display: none;
    position: fixed;
    z-index: 1038;
    padding-top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    -webkit-align-items: center
}

@media (min-width: 1025px) {
    .homemnslid img {
        max-height: 370px
    }

    .cantenar.cateslidheight {
        /* min-height: 727px */
    }

    .cat-slid.catbrnd.cat-theme.brandslid.cat-loaded.cat-drag {
        min-height: 159px
    }

    .nvbar.nvbar-expand-lg.nvbar-light.bg-light {
        min-height: 51px
    }

    .catbrnd,
    .catbrnd .cat-item,
    .catbrnd .cat-stage,
    .catbrnd .cat-stage-outer {
        min-height: 160px
    }

    .faqbox .pnlp ul {
        padding-left: 35px
    }

    .slidsearch .bttn {
        font-size: 16px
    }

    .carslid .cantenar {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto
    }

    .clearinputbtn {
        opacity: 0;
        position: relative;
        margin-left: -25px;
        margin-top: 8px;
        font-size: 26px;
        cursor: pointer;
        color: #70757a;
        padding: 0 5px;
        line-height: 1em;
        position: relative;
        height: 28px;
        background: #fff;
        font-weight: 300
    }

    #keyworded2autocomplete-list {
        width: 450px;
        max-height: 140px;
        overflow-y: auto
    }
}

.cartypemod a {
    display: block;
    background: #fff;
    color: #4d4d4d;
    margin-bottom: 20px;
    font-weight: unset;
    font-size: 16px;
    border: 1px solid #11111161;
    box-shadow: 0 2px 4px #ccc;
    width: 100%;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
    color: #565656 !important
}

.cartypemod a:hover {
    color: #fff !important;
    fill: #fff !important
}

.h3-text {
    font-weight: unset;
    line-height: 1.6em;
    font-size: 22px;
    color: #565656;
    margin-top: 30px;
    text-align: center
}

.modal {
    display: none;
    position: fixed;
    z-index: 1038;
    padding-top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #000;
    align-items: center;
    -webkit-align-items: center
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 420px;
    border-radius: 5px
}

@media (max-width: 480px) {
    .modal-content {
        width: 100% !important
    }
}

.enqclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700;
    position: relative;
    z-index: 999;
    margin-top: -40px;
    margin-right: -25px;
    cursor: pointer
}

.carslid img {
    text-align: center;
    line-height: 170px;
    font-size: 15px
}

.sliderbantext {
    margin-top: 55px;
    display: flex;
    align-items: center
}

.sliderbantext img {
    height: 16px;
    width: auto
}

.sliderbantext svg {
    height: 18px
}

.demo .mt-mw .ltscar {
    line-height: 28px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 0;
    border-bottom: dashed 1px #ccc;
    margin-bottom: 15px;
    letter-spacing: -.8px
}

.demo .mt-mw .lxrcar {
    line-height: 28px;
    padding-bottom: 10px;
    padding-left: 0;
    border-bottom: dashed 1px #ccc;
    margin-bottom: 15px;
    text-align: left;
    font-weight: 400
}

.pnlp p {
    margin-top: 0;
    margin-bottom: 18px
}

.faqbottomtitle h4 {
    margin-top: 50px
}

@media (max-width: 382px) {
    .citydrp-content {
        right: -27px !important;
        left: auto !important
    }
}

.cat-nav button:hover {
    background: rgb(186, 0, 0) !important
}

.cat-nav button:hover span {
    transform: scale(1.3)
}

@media (max-width: 390px) {
    .slidsearch input {
        min-width: 200px !important;
        max-width: 200px !important
    }
}

.faqbox .pnlp li {
    list-style: disc;
    line-height: 2em
}

.faqbox .pnlp ul {
    padding-left: 12px
}

@media (min-width: 730px) and (max-width: 1200px) {
    .catslid iframe {
        width: 97% !important;
        height: 427px !important
    }
}

@media (min-width: 1025px) {
    .carsec picture {
        min-height: 126px
    }

    .carsec #cat-slid-car {
        /* min-height: 194px */
    }

    .cat-slid .catbrnd {
        min-height: 159px
    }
}

.scrollslid .lslide {
    min-height: 480px
}

@media (min-width: 1025px) {
    .seemobcar {
        display: none;
    }

    .carsec picture {
        min-height: 126px
    }
}

.cat-slid {
    display: flex
}

.cat-slid .carcatimg:not(:first-child) {
    display: none
}

.cat-slid img {
    width: 100%
}

.locationbtn .cat-next {
    top: -3%
}

@media only screen and (max-width: 730px) {
    .seemobcar {
        margin-bottom: 25px;
        background: #edeaea;
        color: #000;
        display: block;
    }

    #main-footer {
        display: block;
        width: 50%;
        height: 100%;
    }
}

.catbrnd .item:hover .brandimg {
    background-color: rgb(186, 0, 0)
}

.catbrnd .item:hover .brnd-title {
    color: rgb(186, 0, 0)
}

.all-locationbtn {
    line-height: .81em
}

.locationbtn .cat-next,
.locationbtn .cat-prev {
    top: -3%
}

@media only screen and (max-width: 730px) {
    .seemobcar {
        margin-bottom: 25px;
        background: #edeaea;
        color: #000;
        display: block;
    }
}

.catbrnd .item:hover .brandimg {
    background-color: rgb(186, 0, 0)
}

.catbrnd .item:hover .brnd-title {
    color: rgb(186, 0, 0)
}

.loaction-box {
    margin-top: 20px;
    margin-bottom: 0
}

.loaction-box .cat-theme .cat-nav {
    margin-top: 0
}

.loaction-box h2 {
    margin-bottom: 20px
}

.locationbtn a {
    padding: 6px 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    line-height: 1.2em;
    cursor: pointer;
    width: 100%;
    margin-bottom: 2px;
    color: #4d4d4d
}

.locationbtn a:hover {
    background: #ffe6cd
}

.orng {
    background: rgb(186, 0, 0) !important;
    color: #fff !important;
    border: solid 1px rgb(186, 0, 0) !important
}

.orng:hover {
    background: rgb(186, 0, 0) !important
}

@media (max-width: 1025px) {
    .catbrnd.cat-theme .cat-nav.disabled+.cat-dots {
        margin-top: 40px
    }

    .loaction-box .mobonly.cat-slid {
        padding-bottom: 30px
    }

    .all-brandsbtn {
        margin-bottom: 0 !important;
        margin-top: -120px !important;
        margin-right: 5px !important
    }

    .slidbtnalign {
        text-align: right
    }

    .locationbtn .cat-item.active {
        width: fit-content !important
    }

    .locationbtn .item {
        width: auto !important;
        margin-right: 8px
    }

    .locationbtn a {
        font-size: 12px;
        padding: 6px 5px;
        font-weight: 700
    }

    .loaction-box {
        padding: 0 5px !important
    }

    .locationbtn .cat-item {
        width: auto !important
    }

    .locationbtn.mobonly a {
        margin-bottom: 10px
    }

    .locationbtn::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        border-radius: 5px;
        position: absolute
    }

    .locationbtn::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px
    }

    .locationbtn::-webkit-scrollbar-thumb {
        background: #4d4d4d;
        border-radius: 10px
    }

    .locationbtn::-webkit-scrollbar-thumb:hover {
        background: #b30000
    }

    .all-locationbtn {
        font-size: 12px;
        margin-top: -49px;
        margin-bottom: 40px;
        position: relative;
        z-index: 9
    }
}

@media (min-width: 1025px) {
    .all-brandsbtn {
        margin-top: 0 !important
    }

    .slidbtnalign {
        text-align: right
    }

    .locationbtn.webonly {
        margin: 25px auto 0
    }

    .loaction-box h2 {
        padding-top: 30px
    }

    .locationbtn.mobonly {
        display: none
    }

    .loaction-box .cat-item {
        width: fit-content !important
    }

    .carslid .cantenar {
        padding-right: 0;
        padding-left: 0
    }
}

.locationbtn .cat-prev {
    top: -3%
}

.all-locationbtn {
    line-height: 1.2em
}

@media (min-width: 1025px) {
    .all-locationbtn {
        margin-top: 20px
    }
}

@media (max-width: 1025px) {
    .locationbtn.webonly {
        margin: 25px auto 0
    }

    .tourist-visit li {
        display: flex;
        column-gap: 3px
    }

    .locationbtn .item {
        padding: 5px 0;
        border-radius: 50%;
        text-align: center !important;
        line-height: 1em
    }
}

@media (min-width: 730px) {
    .carcatimg img {
        max-height: 130px
    }

    .cat-slid-car.cat-slid {
        display: flex;
        justify-content: space-between;
        /* min-height: 194px */
    }

    .cat-slid-car.cat-slid.cat-loaded {
        display: block
    }

    .cat-slid-car.cat-slid .item:not(:nth-child(-n + 5)),
    .cat-slid-car.cat-slid .lastslid:not(:first-child) {
        display: none;
        width: max-content !important
    }

    .cat-slid-car.cat-slid.brandslid .item {
        max-width: 20%;
        min-width: 20%
    }

    .cat-slid-car.cat-slid.brandslid.cat-loaded .item {
        max-width: 100%;
        min-width: 100%
    }

    .catbrnd.cat-slid.cat-loaded {
        display: block
    }

    .catbrnd.cat-slid {
        display: flex;
        justify-content: space-between
    }

    .catbrnd.cat-slid .item:not(:nth-child(-n + 9)),
    .catbrnd.cat-slid .lastslid:not(:first-child) {
        display: none;
        width: max-content !important
    }

    .catbrnd.cat-slid.brandslid .item {
        max-width: 132px !important;
        min-width: 132px
    }

    .loaction-box .cat-slid .item:not(:nth-child(-n + 12)),
    .loaction-box .cat-slid .lastslid:not(:first-child) {
        display: none;
        width: max-content !important
    }

    .loaction-box .cat-slid.webonly.cat-loaded {
        display: block
    }

    .loaction-box .cat-slid.mobonly {
        display: none
    }

    .loaction-box .cat-slid.webonly {
        display: flex;
        justify-content: space-between
    }
}

@media (max-width: 1090px) and (min-width: 992px) {
    .all-brandsbtn {
        margin-top: 8px !important
    }

    .all-locationbtn {
        margin-top: 22px !important
    }
}

@media (max-width: 1025px) and (min-width: 730px) {

    .cat-next,
    .cat-prev,
    .cat-slid .cat-dots.disabled,
    .cat-slid .cat-nav.disabled {
        display: none !important
    }

    .carsec .cat-stage,
    .carsec .cat-stage-outer {
        min-height: 136px !important
    }
}

@media (max-width: 730px) {
    .cat-slid-car img {
        width: 100%;
    }

    .cat-slid-car.cat-slid {
        display: block
    }

    .cat-slid-car.cat-slid .item:not(:nth-child(-n + 6)) {
        display: none;
        width: max-content !important
    }

    .cat-slid-car .item {
        max-width: 30.5%;
        min-width: 30.5%;
        margin-right: 2% !important;
        display: inline-table
    }

    .cat-slid-car.cat-loaded .item {
        max-width: 100%;
        min-width: 100%
    }

    .catbrnd.cat-slid {
        display: flex;
        justify-content: space-between
    }

    .catbrnd.cat-slid .item:not(:nth-child(-n + 4)),
    .catbrnd.cat-slid .lastslid:not(:first-child) {
        display: none;
        width: max-content !important
    }

    .catbrnd.cat-slid.brandslid .item {
        max-width: 82px !important;
        min-width: 82px
    }

    .catbrnd.cat-loaded,
    .no-js .cat-slid {
        display: block !important
    }

    .catbrnd.cat-slid.brandslid .item {
        min-height: 258px
    }

    .catbrnd.cat-slid.brandslid.cat-loaded .item {
        min-height: 148px
    }
}

.homemnslid .item {
    width: 100% !important
}

.item cat-item-mob {
    max-width: 32% !important;
    min-width: 32% !important;
    margin-right: 1% !important
}

.item.cat-item-mob {
    max-width: 32% !important;
    min-width: 32% !important;
    margin-right: 1% !important
}

.loadmn h2,
.loadmn h3 {
    font-size: 1.5em;
    line-height: 28px;
    padding-bottom: 20px;
    padding-left: 0;
    border-bottom: dashed 1px #ccc;
    letter-spacing: -.8px;
    color: #4d4d4d
}

.loadmn .ltscar {
    margin-top: 35px
}

.mcTooltipInner {
    text-align: center !important
}

@media(min-width:1025px) {
    .cat-slid-car img {
        width: 100%;
    }

    .loadmn #home_latest_ajax111,
    .loadmn #home_latest_ajax112,
    .loadmn #home_latest_ajax113 {
        height: 242px
    }

    #home_latest_ajax111,
    #home_latest_ajax112,
    #home_latest_ajax113 {
        height: 242px
    }
}

@media(max-width:1025px) {

    .loadmn #home_latest_ajax111,
    .loadmn #home_latest_ajax112,
    .loadmn #home_latest_ajax113 {
        height: 50px
    }

    #home_latest_ajax111,
    #home_latest_ajax112,
    #home_latest_ajax113,
    #home_latest_ajax114 {
        height: 50px
    }
}

.home_latest_ajax_1.loadmn {
    height: 3185px
}

.loadmn #home_latest_ajax11,
.loadmn #home_latest_ajax12,
.loadmn #home_latest_ajax13 {
    height: 486px
}

#home_latest_ajax11,
#home_latest_ajax12,
#home_latest_ajax13 {
    height: 486px
}

img#loader_ajax {
    max-height: 40px;
    margin: 0 auto
}

@media (max-width: 1025px) {
    p.cantenar.p-n-10 {
        padding-left: 0;
        padding-right: 0
    }

    .carslid .cantenar {
        padding-left: 0
    }

    p.p-t-20.p-b-20.cantenar {
        padding: 0
    }

    h2.p-t-30.cantenar,
    p.p-t-20.cantenar {
        padding-left: 0;
        padding-right: 0
    }
}

@media(min-width:1025px) {
    h2.p-t-30.cantenar.carslidtitle.m-b-0 {
        margin-left: 15px
    }
}

@media (max-width:1025px) {
    ul.cantenar.scrollslid {
        margin-left: -15px;
        width: calc(100vw)
    }

    .cat-slid-car img {
        width: 100%;
    }

    ul.cantenar.scrollslid>li:first-child {
        margin-left: 15px
    }
}

.booking-item-rating-stars svg {
    max-height: 25px;
    margin-right: 5px
}

.testimonials {
    background: #000
}

.testimonials span.text-white {
    font-size: 23px;
    margin-left: 20px;
    margin-right: 20px
}

.chauf_header3 {
    line-height: 28px;
    padding-bottom: 20px;
    font-size: 27px;
    padding-left: 0;
    border-bottom: dashed 1px #ccc;
    margin-bottom: 25px;
    font-weight: 400;
    padding-top: 65px
}

.testicard {
    border: 2px dashed orange;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px
}

.testicard .card-body {
    padding: .25rem 3rem .1rem 1.25rem
}

.listing-star-testi svg {
    margin-right: 5px;
    max-height: 20px
}

.listing-star-testi {
    margin-bottom: 15px
}

.morbtnmr {
    padding-bottom: 60px
}

.testimonials .justcent a {
    height: 26px;
    line-height: 6px;
    font-size: 12px
}

.opc-date {
    color: #9f9e9e
}

@media(max-width:1025px) {
    .testicard .card-body {
        padding: .25rem 1.25rem
    }

    .testimonials .justcent {
        display: block !important
    }

    .testimonials .justcent span,
    .testimonials .justcent a {
        display: block !important;
        text-align: center;
        font-size: 13px;
        width: max-content;
        margin: 11px auto
    }

    .testimonials .justcent a {
        height: 26px;
        line-height: 6px;
        font-size: 12px
    }

    .chauf_header3 {
        padding-bottom: 15px;
        font-size: 20px;
        margin-bottom: 15px
    }

    .booking-item-rating-stars svg {
        max-height: 20px
    }

    .testidescf-13 {
        font-size: 13px !important;
        text-align: justify
    }

    .testihead {
        padding: 0 !important
    }

    .listing-star-testi svg {
        max-height: 15px;
        max-width: 15px
    }

    .review-profile-img {
        margin-bottom: 10px
    }

    .blkclr {
        font-size: 17px !important
    }
}

@media(min-width:1025px) {
    h2.p-t-30.cantenar.carslidtitle.m-b-0 {
        margin-left: 15px
    }
}

@media (max-width:1025px) {
    ul.cantenar.scrollslid {
        margin-left: -15px;
        width: calc(100vw)
    }

    ul.cantenar.scrollslid>li:first-child {
        margin-left: 15px
    }

    .loaction-box .mobonly.cat-slid .item:first-child {
        margin-left: 15px
    }

    .loaction-box .mobonly.cat-slid {
        margin-left: -15px;
        width: calc(100vw)
    }
}

.testidescf-13 {
    margin-bottom: 35px !important
}

@media (min-width: 730px) and (max-width: 1000px) {
    .catslid iframe {
        width: 97% !important;
        height: 427px !important
    }

    .seemobcar {
        display: none;
    }

    #home_latest_ajax111,
    #home_latest_ajax112,
    #home_latest_ajax113 {
        height: 412px
    }

    .cat-slid-car img {
        width: 100%;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .catslid iframe {
        width: 97% !important;
        height: 550px !important
    }

    #home_latest_ajax111,
    #home_latest_ajax112,
    #home_latest_ajax113 {
        height: 500px
    }
}